<div class="container" style="width: fit-content">
  <div class="sub_container_position">
    <h4><span>商品新規登録</span></h4>
    <%= form_with model: @item, url: admin_items_path do |f| %>
    <%= render "layouts/form_errors", model: @item %>
    <%= render 'admin/items/form', f: f %>
    <div class="actions text-center">
      <%= f.submit "新規登録", class: "btn btn-success padding-x" %>
    </div>
    <% end %>
  </div>


</div>

