<div class="container w-75">
  <div class="margin-y">
    <h4>会員一覧</h4>
    <table class='table table-hover margin-y'>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to (customer.last_name + customer.first_name), admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted %>
                <span class="text-muted">退会済み</span>
              <% else %>
                <span class="text-success"><strong>有効</strong></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>