<div class='container px-5 px-sm-0'>
<h3>ジャンル編集</h3>
  <div class='row'>
    <div class='col-md-5 mt-3'>
<%= form_with model: @genre, url: admin_genre_path do |f| %>
  <%= f.label :name, "ジャンル名" %>
  <%= f.text_field :name %>
  <%= f.submit '変更を保存' %>
<% end %>
    </div>
  </div>
</div>