<div class="container">

  <div class="sub_container_position ml-5">
    <h4><span>ショッピングカート</span></h4>


    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if current_customer.cart_items.present? %>
          <% @cart_items.each do |cart_item| %>
          <tb><% if @item.image.attached? %>
              <%= image_tag @item.image, size: "100x80" %>
              <% else %>
              <%= image_tag 'no_image', size: "100x80" %>
              <% end %><% cart_item.item.name %></tb>
          <tb></tb>
          <% end %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
