<div class="margin-y container">
  <div class="row">

    <%= render 'layouts/search_genre', genres: @genres %>

    <main class="col-md-9">
      <h2>商品詳細</h2>
      <%= render 'public/items/items_layout', items: @items %>
      <%= paginate @items %>
    </main>
  </div>
</div>