<footer id=”foter”>
  <div class="outer">
    <div class="inner">
    	<p>CopyRight Infratop.inc</p>
    	 <div class="social">
    		<i class="fa-brands fa-facebook"></i>
    		<i class="fa-brands fa-instagram"></i>
    		<i class="fa-brands fa-twitter"></i>
    	 </div>
    </div>
  </div>
</footer>