<section class="col-md-3" style="margin-bottom: 2rem">
  <div class="card border-dark col rounded-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5 class="text-center">ジャンル検索</h5></li>
      <% genres.each do |genre|%>
        <li class="list-group-item border-0">
          <!--後にlink_toへ変更-->
          <%= link_to genre.name, genre_search_path(genre.id) %>
          <%= genre.name %>
        </li>
      <% end %>
    </ul>
  </div>
</section>